.color__red {
  background-color: red;
  color: red;
}

.color__blue {
  background-color: blue;
  color: blue;
}

.color__yellow {
  background-color: yellow;
  color: yellow;
}

.color__green {
  background-color: green;
  color: green;
}

.color__grey {
  color: grey;
  background-color: grey;
}

.color__white {
  background-color: white;
  color: white;
}

.col-6,
.col,
.col-12 {
  margin-bottom: 20px;
}

.row div {
  height: 50px;
}
